*{
    margin: 0px;
    padding: 0px;
}




.container{
    /* display: flex; */
    width: 70%;
    margin: auto;
    margin-top: 100px;

}
.btn{
    display: flex;
    justify-content: space-around;
    margin-right: 110px;
    /* border: 1px solid red; */
}
.btn button{
    text-decoration: none;
    max-width: auto;
    background-color: rgb(98 84 243);
    color: rgb(255 255 255);
    padding: 1.4rem 2.4rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 9px;
   
}


.btn button:hover{
    width: 20%;
    padding: 15px;
    background-color: black;
    color: white;
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    
 }
 .tags{
     width: 60%;
     display: flex;
     justify-content: space-between; 
     margin-top: 30px;
     }
 .field{
   margin-right: 80px;
   margin-top: 30px;
   border: 5px solid ;
   font-size:15Px;
   text-align: center;
   
   
}
.field2{
    
    border: 5px solid ;
    font-size:15px;
    text-align: center;
}
.translate_btn{
    text-decoration: none;
    max-width: auto;
    background-color: rgb(98 84 243);
    color: rgb(255 255 255);
    padding: 1.4rem 2.4rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 9px;
}
.translate_btn:hover{
    width: 20%;
    padding: 15px;
    background-color: black;
    color: white;
    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    
 }